div {
    border: 2px solid black;
}

#container {
    display: flex;
    justify-content: space-evenly;
}

#drawBoard {
    width : 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    width: 24%;
    height: 24%;
}