
* {
    box-sizing: border-box;
}

body {
    background-color: #031207;
}

p {
    color: #39ff14;
}

#container {
    border: 3px solid black;
    background-color: #062404;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 560px;
    width: 800px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #39ff14;
}

#menuBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#selectedColor {
    width: 80px;
    height: 80px;
    background-color: #39ff14;
    align-self: center;
    margin: 15px;
    border: 3px solid black;
    border-radius: 40px;
    box-shadow: 0px 0px 15px #39ff14;
}

.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #39ff14;
    margin: 10px;
    padding: 4px;
}

#inputedNumber {
    margin: 5px;
    font-size: x-large;
    text-shadow: 0px 0px 10px #39ff14;
}

#colorInput {
    box-shadow: 0px 0px 20px black inset;
    border-radius: 10px;
    width: 80%;
}

button {
    box-shadow: 0px 0px 10px #39ff14;
    border-radius: 10px;
    width: 80%;
    border: 3px solid black;
    background-color: #062404;
    color: #39ff14;
    margin: 5px 0px 0px 10px;
    width: 145px;
    padding: 5px 0px;
}

#drawBoard {
    background-color: lightgray;
    width : 506px;
    height: 506px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    margin: none;
    padding: none;
}

.innerDiv {
    width: 50px;
    height: 50px;
    margin: none;
    padding: none;
}

h1 {
    color: #39ff14;
    text-align: center;
    margin: 50px;
    text-shadow: 0px 0px 15px #39ff14;

}   

.pixel {
    width: 25%;
    height: 25%;
    border: 1px solid black;
}

